### IntelliJ ###
*.iml
.idea/

### VS Code ###
.vscode
.project
.settings
.classpath
.factorypath

### Maven ###
target/
/.mvn/wrapper/*.jar

*.log

.aider*
logs/
.commit0_scripts/
.github/workflows/
